<section class="cta">
    <span class="stars">★★★★★</span>
    Are you enjoying our place? <a href="http://search.google.com/local/writereview?placeid=ChIJt8H034xp14ARgwAmsq72K34" class="social-link" target="_blank">Review Us.</a>
</section>

<style>
    .cta {
        display: flex;
        flex-flow: column;
        align-items: center;
        background: #ffffff;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    }
    .cta .stars {
        color: gold;
    }
    .cta a {
        color: rgb(var(--theme-accent));
        text-decoration: none;
        font-weight: 700;
    }
</style>
